extends basicLayout

block body
  div(class="container")
    div(class="row")
      div(class="col-md-12 col-sm-12")
        ol(class="breadcrumb")
          li
            a(href="index.html") Home
          li(class="active") Casts (10.11.2014)

    div(class="row")
      div(class="col-md-8 col-md-offset-2 col-sm-12")
        block mainContent